*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.wrapper{
  background-color: white;
  margin-left: 12.5vmax;
  width: 75vmax;
  min-width: 100vmin;
  height: 100vmin;
}

header{
  width: 100%;
  min-width: 100%;
  white-space: nowrap;
}

header h1{
  background-color: floralwhite;
  color: blue;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 1em 0 .25em;
}

.main-nav ul li{
  width: 48%;
  float: left;
  text-align: center;
  list-style-type: none;
  background-color: mediumaquamarine;
  padding: .25rem;
  border-left: 2px solid purple; 
}

.main-nav ul li:first-child{
  border-left: none;
}

.main-nav ul li a{
  text-decoration: none;
}

.main-nav ul li a:hover{
  color: blue;
  text-decoration: underline;
}
section{
  height: 70vh;
}

aside{
  clear: both;
  width: 30%;
  height: 100%;
  float: left;
  background-color: azure;
}

aside ul li{
  list-style-type: none;
  padding: 1.5rem;
}

aside ul li a{
  text-decoration: none;
}

aside ul li a:hover{
  color: blue;
  text-decoration: underline;
}

.main-content{
  background-color: bisque;
  height: 100%;
}

figure{
  text-align: center;
  padding-top: 5rem;
}

footer{
  clear: both;
  text-align: center;
  background-color: darkgrey;
  padding: 1rem;
}